:root {
    --sun  : #facc15;
    --moon : #e6eeff;
    --dark : #1c1c1c;
    --light: #f7f7f7;
    --ksize: 24px;
}

.theme-toggler{
    width          : 32px;
    height         : 32px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;
}

.theme-toggler > svg{
  height: 1.5rem;
  width : 1.5rem;
}
