@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
  --color-bg          : #F2E9E4;  
  --color-surface     : #FFFFFF; 
  --color-surface-alt : #FFF9F6;

  --color-text        : #333333;
  --color-text-light  : #555555;
  --color-text-muted  : #777777;

  --color-primary     : #E07A5F;  
  --color-primary-dark: #C75A44;

  --color-border      : #EDEDED;
  --shadow-soft       : 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow-hover      : 0 4px 12px rgba(0, 0, 0, 0.08);
  --color-success   : #198754;     
  --color-success-bg: #E6F4EA;

  --color-error   : #DC3545;         
  --color-error-bg: #FDECEA;

  --color-warning   : #FFC107;       
  --color-warning-bg: #FFF8E1;

  --color-info   : #0D6EFD;            
  --color-info-bg: #E7F1FF;
  
  --menu-bg      : #fff;
  --menu-text    : #555;
  --menu-hover-bg: #f0f0f0;
} */

/* :root{
  --color-bg           : #edf2f4;
  --color-surface      : #FFFFFF;
  --color-surface-alt  : #777777;

  --color-text         : #000000;
  --color-text-muted   : #333333;
  --color-text-light   : #495057;

  --color-primary      : #1E2EDE;
  --color-primary-dark : #004E98;
  --color-primary-light: #e6f4ff;
  --color-border       : #EDEDED;
  --shadow-soft        : 0 2px 6px rgba(0, 0, 0, 0.05);
  --shadow-hover       : 0 4px 12px rgba(0, 0, 0, 0.08);

  --color-success      : #198754;     
  --color-success-bg   : #E6F4EA;

  --color-error        : #DC3545;         
  --color-error-bg     : #FDECEA;

  --color-warning      : #FFC107;       
  --color-warning-bg   : #FFF8E1;

  --color-info         : #0D6EFD;            
  --color-info-bg      : #E7F1FF;

  --menu-bg            : #fff;
  --menu-text          : #555;
  --menu-hover-bg      : #f0f0f0;
} */

/* :root {
  --color-bg           : #E9ECEF;  
  --color-surface      : #F8F9FA; 
  --color-surface-alt  : #CED4DA;

  --color-text         : #212529;
  --color-text-light   : #495057;
  --color-text-muted   : #ADB5BD;

  --color-primary      : #0077cc;
  --color-primary-dark : #004E98;
  --color-primary-light: #e6f4ff;

  --color-border       : #ADB5BD;
  --shadow-soft        : 0 2px  6px rgba(0, 0, 0, 0.05);
  --shadow-hover       : 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-hover-dark  : 0 8px 16px rgba(0, 0, 0, 0.1);
  --color-success      : #198754;     
  --color-success-bg   : #E6F4EA;

  --color-error        : #DC3545;         
  --color-error-bg     : #FDECEA;

  --color-warning      : #FFC107;       
  --color-warning-bg   : #FFF8E1;

  --color-info         : #0D6EFD;            
  --color-info-bg      : #E7F1FF;
  
  --menu-bg            : #fff;
  --menu-text          : #555;
  --menu-hover-bg      : #f0f0f0;
} */

/* :root {
  --color-bg           : #F9FAFB;  
  --color-surface      : #F3F4F6; 
  --color-surface-alt  : #CED4DA;

  --color-text         : #374151;
  --color-text-light   : #495057;
  --color-text-muted   : #6B7280;

  --color-primary      : #2563EB;
  --color-primary-dark : #1D4ED8;
  --color-primary-light: #93C5FD;
  --color-primary-alt  : #1E40AF;

  --color-border       : #E5E7EB;
  --shadow-soft        : 0 2px  6px rgba(0, 0, 0, 0.05);
  --shadow-hover       : 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-hover-dark  : 0 8px 16px rgba(0, 0, 0, 0.1);
  --color-success      : #198754;     
  --color-success-bg   : #E6F4EA;

  --color-error        : #DC3545;         
  --color-error-bg     : #FDECEA;

  --color-warning      : #FFC107;       
  --color-warning-bg   : #FFF8E1;

  --color-info         : #0D6EFD;            
  --color-info-bg      : #E7F1FF;
  
  --menu-bg            : #fff;
  --menu-text          : #555;
  --menu-hover-bg      : #f0f0f0;
} */

:root{
  --color-bg           : #0d0d0d;  
  --color-surface      : #1a1a1a; 
  --color-surface-alt  : #0f1318;
  --color--panel       : #141414;;
  --color-glass        : rgba(255, 255, 255, 0.02);
  
  --color-text         : #e6e6e6;
  --color-text-light   : #999;
  --color-text-muted   : #9aa3ac;

  --color-primary      : #ff6b00;
  --color-primary-dark : #f97316;
  --color-primary-light: #fb923c;
  --color-primary-alt  : #1E40AF;

  --color-border       : #2a2a3a;
  --color-border-alt   : #1c2128;

  --shadow-soft        : 0 2px  6px rgba(0, 0, 0, 0.05);
  --shadow-hover       : 0 10px 30px rgba(0,0,0,0.6);
  --shadow-hover-dark  : 0 8px 16px rgba(0, 0, 0, 0.1);

  --color-success      : #388E3C;     
  --color-success-bg   : #4CAF50;
  
  --card-radius        : 14px;
  --color-error        : #FF4C4C;         
  --color-error-bg     : #FDECEA;

  --color-warning      : #E68900;       
  --color-warning-bg   : #FF9800;

  --color-info         : #0D6EFD;            
  --color-info-bg      : #E7F1FF;
  
  --menu-bg            : #fff;
  --menu-text          : #555;
  --menu-hover-bg      : #f0f0f0;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family            : "Inter", sans-serif;
  font-optical-sizing    : auto;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x             : hidden;
  background-color       : var(--color-bg);
  color                  : var(--color-text);
  margin                 : 0;
  padding                : 0;
  display                : flex;
  flex-direction         : column;
  max-height             : 100vh;
  width                  : 100vw;
}

.app-layout {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

@media (min-width: 768px) {
  .app-layout {
    flex-direction: row;
  }
}

.app-layout main {
  flex   : 1;
  padding: 1rem;
  display: flex;
  height : 100vh;
}

.container {
  width  : 100%;
  padding: 0 1rem;
}

.centered-container {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.flex-center {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.flex-between {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) ;
}